# Exploratory Data Analysis

- Exploratory Data Analysis or EDA is the process of understanding the dataset in statistical manner

- we will import the dataset and perform the basic statistical exploration of the dataset

In [2]:
import pandas as pd

In [4]:
cars = pd.read_csv(r"E:\Python Task\Cars.csv")

In [5]:
cars.head()

   HP        MPG  VOL          SP         WT
0  49  53.700681   89  104.185353  28.762059
1  55  50.013401   92  105.461264  30.466833
2  55  50.013401   92  105.461264  30.193597
3  70  45.696322   92  113.461264  30.632114
4  53  50.504232   92  104.461264  29.889149

In [6]:
cars.tail()

     HP        MPG  VOL          SP         WT
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

In [7]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HP      81 non-null     int64
 1   MPG     81 non-null     float64
 2   VOL     81 non-null     int64
 3   SP      81 non-null     float64
 4   WT      81 non-null     float64
dtypes: float64(3), int64(2)
memory usage: 3.3 KB

In [8]:
cars.dtypes

HP       int64
MPG    float64
VOL      int64
SP     float64
WT     float64
dtype: object

## EDA

- 1. First moment of business decision or Measure of central tendency

In [9]:
cars.mean()

HP     117.469136
MPG     34.422076
VOL     98.765432
SP     121.540272
WT      32.412577
dtype: float64

In [10]:
cars.median()

HP     100.000000
MPG     35.152727
VOL    101.000000
SP     118.208698
WT      32.734518
dtype: float64

In [11]:
cars.mode()

      HP        MPG   VOL          SP         WT
0   92.0  29.629936  50.0  118.288996  15.712859
1    NaN        NaN   NaN         NaN  15.753535
2    NaN        NaN   NaN         NaN  15.769625
3    NaN        NaN   NaN         NaN  15.823060
4    NaN        NaN   NaN         NaN  15.847758
..   ...        ...   ...         ...        ...
76   NaN        NaN   NaN         NaN  42.778219
77   NaN        NaN   NaN         NaN  43.353123
78   NaN        NaN   NaN         NaN  43.390988
79   NaN        NaN   NaN         NaN  44.013139
80   NaN        NaN   NaN         NaN  52.997752

[81 rows x 5 columns]

- 2. Second moment of business decision or Measure of dispersion

In [12]:
cars.var()

HP     3261.952160
MPG      83.383283
VOL     497.356790
SP      201.113002
WT       56.142247
dtype: float64

In [13]:
cars.std()

HP     57.113502
MPG     9.131445
VOL    22.301497
SP     14.181432
WT      7.492813
dtype: float64

- 3. Third moment of business decision or Measure of skewness

In [14]:
cars.skew()

HP     1.716216
MPG   -0.177947
VOL   -0.590197
SP     1.611450
WT    -0.614753
dtype: float64

- 4. Fourth moment of busniess decision or Measure of kurtosis

In [15]:
cars.kurt()

HP     2.960025
MPG   -0.611679
VOL    0.920229
SP     2.977329
WT     0.950291
dtype: float64